{% extends 'templates/app.twig' %}
{% block content %}

    <h1>Admin Panel</h1>
    <h3><a href="{{ path_for('add-catalog') }}">add catalog</a></h3>
    <h3><a href="{{ path_for('show-catalog') }}">show catalog</a></h3>
    <h3><a href="{{ path_for('show-catalog') }}">add product</a></h3>
{% endblock %}
