{% extends 'templates/app.twig' %}

{% block content %}
    <h1>Admin Add catalog</h1>
    <div class="row">
        <div class="col-md-12">
            <form action="{{ path_for('add-catalog_api') }}" method="get" class="create-catalog-form" enctype="multipart/form-data">
                <input type="text" class="form-control" name="title" placeholder="Название каталога">
                <input type="text" class="form-control" name="description" placeholder="Описание каталога">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                {{ csrf.field | raw }}
            </form>
        </div>
    </div>
{% endblock %}